.headerProfile{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: #323232;
    color: #fdfdfd;
    height: 56px;
}
.headerProfile a {
    margin-left: 15%;
}
.headerProfile div {
    width: auto;
    margin-right: 10%;
    display: flex;
    align-items: center;
    vertical-align: baseline;
    justify-content: space-around;

}

.headerProfile div p:nth-child(1){
    margin-right: 20px;
}
.headerProfile div p:nth-child(2){
    margin-right: 10px;
}
.headerProfile div p:nth-child(3){
    margin-left: 2px;
    margin-right: 15px;
}
.headerProfile div svg:nth-child(4){
    margin-right: 20px;
}


.settings {
    background: #FFFFFF;
    width: 210px;
    height: 180px;
    
    display:block;
    visibility: hidden;
    margin: 5px 0 0 0;
    position: absolute;
    left: 70.6%;

    border-radius: 8px;
    transition:  .1s;

    text-align: left;
    box-shadow: 0px 0px 10px -3px black;
    
}

.settings::after{
    border: 10px solid transparent;
    border-bottom-color: #ffffff;
    content: "";
    left: 62%;
    top:-19px;
    position: absolute;
}

.settingsActive {
    display: block;
    transition: .1s;
    visibility: visible;
    
    
}

.settingsDefault{
    display: block;
}
.settingsDefault div {
    display: flex;
    justify-content: space-between;
    margin: 5% 5%;
    transition: .5s;
     
}


.settingsDefault button:nth-child(4),
.settingsDefault button:nth-child(5){
    display: block;
    font-size: 1em;
    justify-content: flex-start;
    margin: 0 0 7% 5%;
    
}
.settingsDefault div p {
    font-weight: 400;
    line-height: 25px;
  
}

.settingsSalario,
.settingsCarteira,
.settingsAdicionar {
    display: none;
    
}
.settingsSalario p, 
.settingsCarteira p,
.settingsAdicionar p {
    text-align: center;
    margin: 10% 8% 0 0;
}

.settingsSalario div:nth-child(2),
.settingsCarteira div:nth-child(2),
.settingsAdicionar div:nth-child(2) {
    display: flex;
    align-items: center;
    margin: 10% 0 10% 12%;
    
}

.settingsSalario input,
.settingsCarteira input,
.settingsAdicionar input {
    margin-left: 5px;
    width: 100px;
    height: 30px;
    border: 1px solid #c8c8cc;
    border-radius: 4px;
    padding-left: 5px;
}
.btnActions {
    display: flex;
    justify-content: space-around;
    
}
.btnActions button:nth-child(1){
    
    width: 30px;
    background: transparent;
    height: 39px;
    border: 1px solid #B93434;
    border-radius: 4px;
    color: #B93434;
    box-shadow: none;
}
.btnActions button:nth-child(1):hover{
    background-color: #B93434;
    box-shadow: 0 2px 2px rgb(138, 38, 38);
    color: #FDFDFD;
}

.btnActions button:nth-child(2){
    width: 121px;
    background: #17A100;
    height: 39px;
    border: 1px solid #17A100;
    border-radius: 4px;
    color: #F6F6F6;
    box-shadow: 0 2px 2px rgb(33, 107, 20);
    
}


.containerProfile section {
    display: flex;
    justify-content: center;
    margin-top: 5%;
}



.containerProfile section ul li {
    list-style: none;
}
.cabecalho, .contaInf, .contaActions {
    display: flex;
}
.cabecalho{
    width: 560px ;
    justify-content: space-between;
    height:  43px;
    background: #545353;

    border-radius: 4px;
}
.cabecalho:hover{
    cursor: pointer;
}
.contaInf {
    

    
    align-items: center;
}
.contaInf p {
    font-size: 20px;
}
.contaInf p:nth-child(1){
    color:#FFFFFF;
    margin-left: 22px;
    margin-right: 30px;
    width: auto;
}

.contaInf p:nth-child(3){
    color:#9E9C9C;
}

.contaActions{
    align-items: center;

}

.contaActions button {
    margin-right: 10px;
}

.content{
    width: 543px;
    height: 90px;
    margin-bottom: 55px;
    margin-left: 8.5px;
    background-color: #FDFDFD;
    border-radius: 0 0 8px 8px;
    transition: .5s;
}

.contentActive{
    
    height: 30px;
}

.contentActive table td{
    opacity: 0;
    transition: .2s;
    height: 20px;
}
.contentActive table th{
    transition: .2s;
    height: 20px;
}
table {
    width: 100%;
    transition: .2s;
}
th:nth-child(2){
    text-align: center;

    
}
th, td {
    height: 50px;
    vertical-align: top;
    text-indent: 5px;
    width: 280px;
    transition: .5s;
}
td {
    color: #9E9C9C;
    font-size: 16px;
}
td:nth-child(2){
    text-align: center;
    color: #A10000;
    font-weight: bold;
    
}

.situationActive svg{
    color: green;
}
button{
    background: transparent;
    border: none;
}