.logonContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5%;
}

.logonContent section {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 350px;
    width: 35%;
    background: #d4cbcb;
    
}
.logonContent section form {
    margin: 5% 0 5% 0;
    width: 90%;
    transition: .5s;
    
}
.logonContent section form input {
    width: 100%;
    margin-top: 5%;
    transition: .5s;
}
.logonContent section form input:nth-child(2){
    width: 100%;
}

.errorSpace{
    height: 60px;
    margin-bottom: 25px;
    background: lightgreen;
}
.errorMessage{
    font-size: 25px;
    color: lightcoral;
    transition: .5s;
}
.continue,.login{
    width: 100%;
    background: #17A100;
    height: 39px;
    border: 1px solid #17A100;
    border-radius: 4px;
    color: #F6F6F6;
    box-shadow: 0 2px 2px rgb(33, 107, 20);
    margin-bottom: 5%;
}

.continue:active, .login:active{
    box-shadow: none;
}


.logonContainerActive {
    transition: .5s;
}


.newGroup p a {
    text-decoration: none;
    color: black;
}
